* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: black;
}

.menu a {
  display: block;
  padding: 4px 8px;
  margin: 0 4px;
  font-size: 20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: "Noto Sans Mono", monospace;
}

.menu a:hover {
  color: rgb(4, 0, 255);
  background-color: rgb(0, 0, 0);
}
.section {
  width: 100%;
  min-height: 100vh;
  padding: 56px 16px 16px 16px;
}

#about {
  background-color: rgb(0, 0, 0);
}

#portfolio {
  background-color: rgb(0, 0, 0);
}

#links {
  background-color: rgb(0, 0, 0);
}

.header {
  position: sticky;
  top: 0px;
  z-index: 1;
  height: 56px;
  display: flex;
  align-items: center;
  background-color: rgb(0, 0, 0);
}

.wrapper {
  width: 900px;
  margin: 0 auto;
  color: white;
  /* margin-bottom: 100px; */
}
.header .wrapper {
  display: flex;
  align-items: center;
}
.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

#about .wrapper {
  display: flex;
  flex-wrap: wrap;
}
#about .section-title {
  width: 100%;
  font-family: "Noto Sans Mono", monospace;
  font-size: 40px;
  color: rgb(4, 0, 255);
}
#portfolio .section-title {
  width: 100%;
  font-family: "Noto Sans Mono", monospace;
  font-size: 40px;
  color: rgb(4, 0, 255);
  padding-top: 70px;
}

#links .section-title {
  width: 100%;
  font-family: "Noto Sans Mono", monospace;
  font-size: 40px;
  color: rgb(4, 0, 255);
  padding-top: 90px;
}

#about .section-image img {
  width: 100%;
}
#about .section-text {
  width: 50%;
  font-size: 14px;
  padding-right: 40px;
  font-family: "Montserrat", sans-serif;
}

.section-image {
  width: 50%;
}
.logo {
  text-decoration: none;
  font-family: "Noto Sans Mono", monospace;
  color: rgb(4, 0, 255);
  font-size: 25px;
}
.portfolio-image {
  flex-direction: row;
  margin-bottom: 20px;
}

.add-text {
  width: 50%;
  font-size: 14px;
  padding-right: 40px;
  font-family: "Montserrat", sans-serif;
}

.links {
  width: 100%;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  color: white;
  display: flex;
}

.links:hover {
  color: rgb(4, 0, 255);
}

.gallery-row {
  display: flex;
  gap: 5px;
}
.gallery-item {
  flex-basis: calc(100% / 3);
}

.gallery-row img {
  max-width: 100%;
}

.gallery-item.text-item {
  display: flex;
  align-items: flex-end;
}

.gallery-item.text-item:hover {
  opacity: 100%;
}

.gallery-item p {
  margin: 0;
  padding: 10px;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.gallery-item:hover {
  opacity: 70%;
}
/* .gallery-row-2 .gallery-item {
  flex-basis: calc(100% / 2);
} */
